/*
 * @Author     : Bamboo
 * @AuthorEmail: bamboo8493@126.com
 * @Date       : 2019-08-07 03:18:50
 * @Description:
 * @LastEditors: Please set LastEditors
 * @LastEditorsEmail:
 * @LastEditTime: 2019-08-07 03:29:16
 * @LastEditorsDescription:
 */


/* 按钮默认样式 */
/* .ellipsis */
.tt-btn {
  position: relative;

  display      : block;
  box-sizing   : border-box;
  width        : 10rem;
  margin       : 0 auto;
  padding      : .5rem 0;
  border       : 1px solid #ccc;
  border-radius: 5px;

  text-align: center;
  font-size : .7rem;
  color     : #000000;

  user-select: none;
}

/* 定制主操作按钮样式 */
.tt-btn.tt-btn-primary {
  color           : #fff;
  background-color: #1AAD19;
}

/* 定制警示类按钮样式 */
.tt-btn.tt-btn-warning {
  color           : #fff;
  background-color: #E64340;
}

/* 定制不可用按钮的样式 */
.tt-btn.tt-btn-disabled {
  opacity         : .6;
  color           : #999;
  background-color: #F7F7F7;
}

/* 大按钮 */
.tt-btn.tt-btn-large {
  width        : 100%;
  border-left  : none;
  border-right : none;
  border-radius: 0;

  font-size: .9rem;
}

/* 小按钮 */
.tt-btn.tt-btn-small {
  display  : inline-block;
  width    : 3rem;
  padding  : .2rem 0;

  font-size: .7rem;
}